<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - RMF Test</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("RMF Automated Support Tool", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    
                    <!-- Links for PM/ISSM-->
                    <li>@Html.ActionLink("System Registration", "Index", "SystemR")</li>
                    <li>@Html.ActionLink("Systems Status", "Index", "SystemS")</li>
                    <li>@Html.ActionLink("Controls", "Index", "Control")</li> <!-- Links for PM/ISSM adn Assessor-->
                    <li>@Html.ActionLink("Self-Assessment", "Index", "SelfAssessment")</li>
                    <li>@Html.ActionLink("POA&M", "Index", "POAM")</li>   <!-- Links for PM/ISSM adn Assessor-->

                    <!-- Links for Assessor-->
                    <li>@Html.ActionLink("Phase 1- Schedule Assessment", "Index", "ScheduleA")</li>
                    <li>@Html.ActionLink("Phase 2- Develop Security Assessment Plan", "Index", "SAP")</li>
                    <li>@Html.ActionLink("Phase 3- Assessments", "Index", "Assessment")</li> <!-- same as self assement view-->
                    <li>@Html.ActionLink("Phase 4- Final Recommendations", "Index", "Recommendation")</li>

                    <!-- Links for Admin-->
                    <li>@Html.ActionLink("System Admin", "Index", "SystemAdmin")</li>
                    <li>@Html.ActionLink("Control Admin", "Index", "ControlAdmin")</li>
                    <li>@Html.ActionLink("Users", "Index", "UserAdmin")</li>

                    <!-- Links for AO -->
                    <li>@Html.ActionLink("Approve SAP", "Index", "ApproveSAP")</li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
